<!DOCTYPE HTML>
<html>
<head>
	<title>My WebSocket</title>
	<script src="http://easycrm.vkwit.com/assets/js/jquery.min.js"></script>
</head>

<body>
Welcome<br/>
<button onclick="network1()">network</button>
<div id="message">
</div>
<script type="text/javascript">
function network1(){
	  $.ajax({
	      headers: {
	        "easysaasToken":localStorage.getItem("easysaasToken")//此处放置请求到的用户token
	      },
	      url:'http://easycrm.vkwit.com/crmField/findByOrgId.json', 
	      type: "post",
	      //contentType: "application/json",
	     // dataType: 'json',
	      cache: false,
	      async: true,
//	    beforeSend: function (XMLHttpRequest) {
//	         XMLHttpRequest.setRequestHeader("Authorization", localStorage.getItem("mytoken"));
//	      },
	             success: function(res) {
	            	 alert(res.code);
	                 console.log("请求结果=="+JSON.stringify(res));
	            },
	            error:function() { 
	                alert("请求失败！");
	      } 
	    });    
	}
	$(function() {

	})
</script>
</body>


</html>