body { margin:0;
width:100%;
height:100%;
background:url(../image/login/bg_01.jpg) repeat-x top;
overflow:hidden;
font-size:12px;
color:#333;
}
img{ border:0;
margin-left:7px;
float:left;
}
.con{ width:680px;
height:340px;
background:url(../image/login/conbg.png) no-repeat;
margin:auto;
margin-top:150px;}
.tishi{width:180px;
height:20px;
margin-top:235px;
margin-left:425px;
float:left;
color:#FFF;
font-size:12px;
}

.btn{width:550px;
height:28px;
float:left;
margin-top:12px;
margin-left:65px;}
.info{ width:340px;
float:left;
height:28px;
font-weight:bold;}
.username{ height:20px; width:96px; border:#7e9fb0 1px solid;}
.password{ height:20px; width:96px; border:#7e9fb0 1px solid;}
.but{ width:165px;
height:28px;
float:right;}
.foot{ width:550px;
height:20px;
float:left;
margin-top:18px;
margin-left:65px;
text-align:center;
font-size:12px;
color:#333;}