<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jesong.webcall.card.mybatis.mapper.BackTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.jesong.webcall.card.domain.entity.BackType">
        <result column="ID" property="id" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="NAME" property="name" />
        <result column="DESP" property="desp" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectData">
        SELECT ID, COMPANY_ID, NAME, DESP from JS_CUOUR_BACK_TYPE
    </sql>


    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="selectData"/>
        where ID = #{id}
    </select>



    <select id="queryListByMap" parameterType="map" resultMap="BaseResultMap">
        <include refid="selectData"/>
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="companyId != null"> and COMPANY_ID = #{companyId}</if>
            <if test="name != null"> and NAME = #{name}</if>
            <if test="desp != null "> and DESP = #{desp}</if>
        </where>
    </select>


    <select id="queryList" parameterType="map" resultMap="BaseResultMap">
        <include refid="selectData"/>
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="companyId != null"> and COMPANY_ID = #{companyId}</if>
            <if test="name != null"> and NAME = #{name}</if>
            <if test="desp != null "> and DESP = #{desp}</if>
        </where>
    </select>

    <insert id="insert" parameterType="BackType" useGeneratedKeys="true" keyProperty="id">
        insert into JS_CUOUR_BACK_TYPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null"> id ,</if>
            <if test="companyId != null"> and COMPANY_ID ,</if>
            <if test="name != null"> NAME ,</if>
            <if test="desp != null "> DESP,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="companyId != null"> #{companyId},</if>
            <if test="name != null"> #{name},</if>
            <if test="desp != null "> #{desp},</if>
        </trim>
    </insert>

    <update id="update" parameterType="BackType">
        update JS_CUOUR_BACK_TYPE
        <trim prefix="SET" suffixOverrides=",">
            <if test="id != null"> id = #{id},</if>
            <if test="companyId != null"> COMPANY_ID = #{companyId},</if>
            <if test="name != null"> NAME = #{name},</if>
            <if test="desp != null "> DESP = #{desp},</if>
        </trim>
        where id= #{id}
    </update>

    <delete id="delete" parameterType="Long">
        delete from JS_CUOUR_BACK_TYPE where id = #{id}
    </delete>

</mapper>
