<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.jesong.webcall.card.mybatis.mapper.VisitorColSelfMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.jesong.webcall.card.domain.entity.VisitorColSelf">
        <id column="ID" property="id" />
        <result column="COL_NAME" property="colName" />
        <result column="COMPANY_ID" property="companyId" />
        <result column="SELF_TEXT" property="selfText" />
        <result column="COL_TYPE" property="colType" />
        <result column="HIDDEN" property="hidden" />
        <result column="SORT_INDEX" property="sortIndex" />
        <result column="EDITABLE" property="editable" />
        <result column="REFER_TABLE" property="referTable" />
        <result column="REQUIRED" property="required" />
        <result column="FORMATTER" property="formatter" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectData">
        select  ID, COL_NAME, COMPANY_ID, SELF_TEXT, COL_TYPE, HIDDEN,
        SORT_INDEX, EDITABLE, REFER_TABLE, REQUIRED, FORMATTER from JS_VISITOR_COL_SELF
    </sql>


    <select id="selectById" parameterType="Long" resultMap="BaseResultMap">
        <include refid="selectData"/>
        where ID = #{id}
    </select>



    <select id="queryListByMap" parameterType="map" resultMap="BaseResultMap">
        <include refid="selectData"/>
        <where>
            <if test="colName != null"> and COL_NAME = #{colName}</if>
            <if test="companyId != null"> and COMPANY_ID = #{companyId}</if>
            <if test="selfText != null"> and SELF_TEXT = #{selfText}</if>
            <if test="colType != null"> and COL_TYPE = #{colType}</if>
            <if test="hidden != null "> and HIDDEN = #{hidden}</if>
            <if test="sortIndex != null"> and SORT_INDEX = #{sortIndex}</if>
            <if test="editable != null"> and EDITABLE = #{editable}</if>
            <if test="referTable != null"> and REFER_TABLE = #{referTable}</if>
            <if test="required != null "> and REQUIRED = #{required}</if>
            <if test="formatter != null"> and FORMATTER = #{formatter}</if>
        </where>
    </select>


    <select id="queryList" parameterType="map" resultMap="BaseResultMap">
        <include refid="selectData"/>
        <where>
            <if test="colName != null"> and COL_NAME = #{colName}</if>
            <if test="companyId != null"> and COMPANY_ID = #{companyId}</if>
            <if test="selfText != null"> and SELF_TEXT = #{selfText}</if>
            <if test="colType != null"> and COL_TYPE = #{colType}</if>
            <if test="hidden != null "> and HIDDEN = #{hidden}</if>
            <if test="sortIndex != null"> and SORT_INDEX = #{sortIndex}</if>
            <if test="editable != null"> and EDITABLE = #{editable}</if>
            <if test="referTable != null"> and REFER_TABLE = #{referTable}</if>
            <if test="required != null "> and REQUIRED = #{required}</if>
            <if test="formatter != null"> and FORMATTER = #{formatter}</if>
        </where>
    </select>

    <insert id="insert" parameterType="VisitorColSelf" useGeneratedKeys="true" keyProperty="cardId">
        insert into JS_VISITOR_COL_SELF
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="colName != null">  COL_NAME,</if>
            <if test="companyId != null">  COMPANY_ID ,</if>
            <if test="selfText != null">  SELF_TEXT ,</if>
            <if test="colType != null">  COL_TYPE,</if>
            <if test="hidden != null ">  HIDDEN,</if>
            <if test="sortIndex != null">  SORT_INDEX,</if>
            <if test="editable != null">  EDITABLE,</if>
            <if test="referTable != null">  REFER_TABLE,</if>
            <if test="required != null ">  REQUIRED,</if>
            <if test="formatter != null">  FORMATTER,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="colName != null">   #{colName},</if>
            <if test="companyId != null">  #{companyId},</if>
            <if test="selfText != null">   #{selfText},</if>
            <if test="colType != null">   #{colType},</if>
            <if test="hidden != null ">   #{hidden},</if>
            <if test="sortIndex != null">   #{sortIndex},</if>
            <if test="editable != null">   #{editable},</if>
            <if test="referTable != null">  #{referTable},</if>
            <if test="required != null ">   #{required},</if>
            <if test="formatter != null">   #{formatter},</if>
        </trim>
    </insert>

    <update id="update" parameterType="VisitorColSelf">
        update JS_VISITOR_COL_SELF
        <trim prefix="SET" suffixOverrides=",">
            <if test="colName != null">  COL_NAME = #{colName},</if>
            <if test="companyId != null">  COMPANY_ID = #{companyId},</if>
            <if test="selfText != null">  SELF_TEXT = #{selfText},</if>
            <if test="colType != null">  COL_TYPE = #{colType},</if>
            <if test="hidden != null ">  HIDDEN = #{hidden},</if>
            <if test="sortIndex != null">  SORT_INDEX = #{sortIndex},</if>
            <if test="editable != null">  EDITABLE = #{editable},</if>
            <if test="referTable != null">  REFER_TABLE = #{referTable},</if>
            <if test="required != null ">  REQUIRED = #{required},</if>
            <if test="formatter != null">  FORMATTER = #{formatter},</if>
        </trim>
        where CARD_ID= #{cardId}
    </update>

    <delete id="delete" parameterType="Long">
        delete from JS_VISITOR_COL_SELF where id = #{id}
    </delete>

</mapper>
