html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5714285714;
	background: #1373e2;
	color: #0168ce;
}
.index-home{
	background: #1373e2;
}

.ieker-header {
/*     position: fixed; */
    z-index: 1040;
    top: -75;
     width: 100%; 
    height: 74px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
    background: #fff;
}
.navi-header {
    height: 56px;
    background: #fff;
    position: relative;
    z-index: 1000;
    min-width: 1250px;
}
.navi-brand {
    float: left;
     margin-top: 10px;
    line-height: 56px;
    padding-right: 15px;
}
.navi-brand>a {
    display: block;
    float: left;
}
.navi-brand .logo {
    line-height: 56px;
}
.navi-brand .logo img {
    height: 37px;
   /*  margin-top: -4px; */
    vertical-align: middle;
    line-height: 56px;
}
img {
    border: 0;
}
.m-r-sm {
    margin-right: 10px;
}
.navi-nav {
    float: right;
    margin: 0px;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: -15px;
}
.navi-nav>li {
    float: left;
    position: relative;
    display: block;
}
.navi-nav .head-line {
    line-height: 56px;
    color: #efefef;
}
.navi-nav>li>a {
    padding: 18px 8px 18px 8px;
    font-size: 14px;
    position: relative;
    display: block;
    line-height: 20px;
    color: #222;
}
.navi-nav.lpan>li>a {
    padding: 18px 14px 18px 14px;
}
.navi-nav>li>a.navi-btn {
    padding-top: 12px;
    padding-bottom: 12px;
}
.navi-nav>li>a.navi-btn>span {
    line-height: 32px;
    text-align: center;
    display: inline-block;
    background: #128bed;
    color: #fff;
    width: 92px;
    border-radius: 2px;
}
a {
    cursor: pointer;
}
#message {
	height: 520px;
	border-bottom: 1px solid gray;
	padding: 20px 30px;
}

.ieker-home {
	min-width: 1248px;
}

.ieker-home .-background {
	position: relative;
	background-position: center;
	background-size: cover;
	background-color: #1373e2;
}

.ieker-home-top {
	width: 100%;
	height: 445px;
}

.container {
	margin: 0 auto;
	width: 1248px;
	background-position: center;
	background-size: cover;
	background-color: #1373e2;
}

.searchInput {
	width: 718px;
    height: 48px;
	border: 1px solid gray;
	background: #fff;
	outline: none;
	padding: 5px 25px 5px 15px;
	border-color: transparent;
	line-height: 24px;
	font-size: 16px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}
.searchBtn {
    height: 48px;
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    font-weight: 400;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.075,.82,.165,1);
    transition: all .2s cubic-bezier(.075,.82,.165,1);
}
.searchInput:focus {
	border-color: yellow;
}


.home-title {
/* 	display: inline-block; */
	margin-bottom: 33px;
	margin-top: 36px;
	font-size: 48px;
	line-height: 64px;
	letter-spacing: 8px;
	text-indent: 7px;
	color: #fff;
}

.tab-main {
	text-align: center;
	color: #fff;
	width: 880px;
	margin: 0 auto;
}
.tab-main .active.tab {
    color: #0084ff;
    background-color: #fff;
}
.tab-main .tab {
    display: inline-block;
    width: 64px;
    padding: 3px 6px;
    line-height: 1.42857143;
    margin-right: 32px;
    margin-bottom: 14px;
    border-radius: 2px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
}
.tab-main .tab .top {
    position: relative;
}
.tab-main .active.tab .top::after {
    position: absolute;
    left: 35%;
    top: 100%;
    content: '';
    width: 0;
    height: 0;
    margin-top: 2px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
}
.text-center {
	text-align: center;
}
.mt77 {
    margin-top: 77px!important;
}
.input-group-btn, .input-group .select-drop, .input-group .select-drop .title, .input-group form {
    float: left;
}
.input-group {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.searchBtn.-h48, .searchBtn.-xl {
    font-size: 16px;
    padding: 14px 10px;
}
.home-group{}
.home-group .input-group-btn {
    width: 112px;
    border-left-color: #f3f3f3;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #0084ff;
}
.home-group .input-group-btn:hover {
    border-color: #0084ff;
    background-color: #0084ff;
    color: #fff;
}
.ieker-header.-home {
    border-bottom: none;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    z-index: 1021;
}
.ieker-nav {
    padding-top: 21px;
    line-height: 14px;
    font-size: 14px;
    color: #999;
}
.nav-item {
    position: relative;
    padding: 18px 12px;
}
.nav-item:last-child {
    padding-right: 0;
}
.ieker-nav .nav-item, .ieker-nav .nav-item-list {
    display: inline-block;
}
.link-white {
    color: #fff;
    cursor: pointer;
}
.ieker-footer {
    background: #2b343d;
    color: rgba(255,255,255,.56);
    font-size: 12px;
}
.ieker-footer .footer-top {
    padding-top: 30px;
    height: 168px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.ieker-footer .container {
    line-height: 24px;
        background: #2b343d;
}