button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;outline:none}
button,input{overflow:visible}
a{background-color:transparent}
a{color:#0084ff;text-decoration:none !important;cursor:pointer}
em{font-style:normal}
.btn{display:inline-block;padding:2px 12px;border:1px solid #f3f3f3;border-radius:2px;font-size:14px;text-align:center;line-height:18px;font-weight:400;background-color:#fff;color:#333;cursor:pointer;-webkit-transition:all .2s cubic-bezier(.075,.82,.165,1);transition:all .2s cubic-bezier(.075,.82,.165,1)}
.btn.-h36,.btn.-lg{padding:8px 10px}
.btn.-h48,.btn.-xl{font-size:16px;padding:14px 10px}
.btn.-h44,.btn.-hg{font-size:16px;padding:12px 10px}
.btn-primary{color:#fff !important;background-color:#0084ff;border-color:#0084ff}
.btn-primary:hover{color:#fff;background-color:#006acc;border-color:#006acc}
.btn-primary:active{color:#fff;background-color:#0084ff;border-color:#0084ff}
.btn-vip{color:#fff;background-color:#ff7d18;border-color:#ff7d18}
.btn-vip:hover{color:#fff;background-color:#e46400;border-color:#e46400}
.btn-vip:active{color:#fff;background-color:#ff7d18;border-color:#ff7d18}

.button.-normal{color:#0084ff;background-color:#fff;border-color:#0084ff}
.button.-normal:focus,.button.-normal:hover{color:#0084ff;background-color:rgba(0,132,255,.05);border-color:#0084ff}
.button.-normal:active{color:#0084ff;background-color:rgba(0,132,255,.15);border-color:#0084ff}
.button.-active{color:#fff;background-color:#0084ff;border-color:#0084ff}
.button.-active:hover{color:#fff;background-color:#006acc;border-color:#006acc}
.button.-active:active{color:#fff;background-color:#005cb3;border-color:#005cb3}

.fa-caret-down{ margin-left: 5px;font-size:16px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body{margin:0}
body,html{font-family:"Microsoft YaHei",Arial,sans-serif;font-size:14px;line-height:1.5714285714;-webkit-font-smoothing:antialiased;background:#f6f6f6;color:#333}
body.-ready .no-data .img{background-image:url(https://cdn.tianyancha.com/web-require-js/public/images/no-data-common.png)}
.clearfix::after,.clearfix::before{display:table;content:" "}.clearfix::after{clear:both}
.vcontainer{margin:0 auto;width:1248px}
.vcontainer::after,.vcontainer::before{display:table;content:" "}
.vcontainer::after{clear:both}
.vcontainer .vcontainer-left{width:936px;float:left;margin:0 0 16px 0}
.vcontainer .vcontainer-right{width:296px;float:right}
.vcontainer.-headertop{padding-top:99px}
.vcontainer.-rel{position:relative}
.vcontainer.-reverse .vcontainer-left{width:296px}
.vcontainer.-reverse .vcontainer-right{width:936px;margin-bottom:16px}
.vcontainer.-body{padding-top:16px!important;margin-bottom:16px!important}
.vcontainer.-top{padding-top:16px!important}.vcontainer.-limit{min-height:calc(100vh - 495px)}
.vcontainer.-limit.-body{min-height:calc(100vh - 511px)}
.vcontainer .vcontainer-tips{font-size:12px;color:#666;margin-top:14px}
.vkwit-header {
    position: fixed;
    z-index: 1040;
    top: 0;
    width: 100%;
    height: 74px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.06);
    background: #fff;
}
.vkwit-header .rel {
    position: relative;
}
.vkwit-header .left,.tyc-header .middle{float:left}
.vkwit-header .middle {
    position: absolute;
    top: 13px;
    left: 335px;
}
.vkwit-header .right{float:right;font-size:14px;text-align:center}
.vkwit-nav{padding-top:21px;line-height:14px;font-size:14px;color:#999}
.vkwit-nav .nav-item,.vkwit-nav .nav-item-list{display:inline-block}
.navi-brand {
    float: left;
    padding-top: 21px;
    line-height: 14px;
/*      margin-top: 10px;
    line-height: 56px; */
    padding-right: 15px;
}
.navi-brand>a {
    display: block;
    float: left;
}
.navi-brand .logo {
    line-height: 56px;
}
.navi-brand .logo img {
    height: 37px;
   /*  margin-top: -4px; */
    vertical-align: middle;
    line-height: 56px;
}
.nav-item{position:relative;padding:18px 12px}
.nav-item:last-child{padding-right:0}
.nav-item:last-child .tips-point.-nav{right:12px}
.vkwit-header .clear-input{position:absolute;color:#ccc;z-index:1000;cursor:pointer;width:15px;right:80px;top:8px}
 .nav-item:hover .title .fa-caret-down{-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:50% 50%;transform-origin:50% 50%}
.nav-item .fa-caret-down{font-size:14px;}

.nav-item .content{position:absolute;left:50%;margin-left:-52px;z-index:100;width:104px;-webkit-transform-origin:50% 0;transform-origin:50% 0;z-index:502;margin-top:4px;font-size:14px;line-height:22px;font-weight:400;text-align:left;color:#333;background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(96,96,96,.5);box-shadow:0 1px 4px 0 rgba(96,96,96,.5);border-radius:2px;opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:scale(0);transform:scale(0)}
.nav-item .content:before{content:'';position:absolute;top:-4px;height:4px;width:100%}
.nav-item .content .item{position:relative;display:block;padding:4px 8px;line-height:22px;margin:0 0 4px;text-align:left;color:#333;-webkit-transition:background 1s cubic-bezier(.075,.82,.165,1);transition:background 1s cubic-bezier(.075,.82,.165,1);cursor:pointer}
.nav-item .content .item a{color:inherit}
.nav-item .content .item:hover{color:#333;background:rgba(0,132,255,.08)}
.nav-item .content .item:first-child{margin-top:4px}
.nav-item .content .item:last-child{margin-top:4px}
.nav-item:hover .content{opacity:1;pointer-events:auto;display:block;-webkit-transform:scale(1);transform:scale(1)}
.nav-item:hover .title .fa-caret-down{-webkit-transform:rotate(180deg);transform:rotate(180deg)}

.nav-item .content{position:absolute;top:47px;z-index:501;border:1px solid #e0e0e0}
.nav-item .content .triangle{position:absolute;top:-16px;left:50%;display:block;width:30px;height:16px;margin-left:-15px;overflow:hidden;-webkit-box-shadow:0 16px 10px -17px #e0e0e0;box-shadow:0 16px 10px -17px #e0e0e0}.nav-item .content .triangle:after{display:block;content:" ";position:absolute;width:15px;height:15px;top:10px;left:5px;border:1px solid #e0e0e0;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);background:#fff;-webkit-box-shadow:-1px -1px 10px -2px #e0e0e0;box-shadow:-1px -1px 10px -2px #e0e0e0}
.nav-item .content .item{text-align:center}
.nav-item .content.-box{width:314px;margin-left:-157px;border-radius:4px}
.nav-item .content.-box .block-content{padding:25px 23px 25px 25px}
.nav-item .content.-box .block-content::after,.nav-item .content.-box .block-content::before{display:table;content:" "}
.nav-item .content.-box .block-content::after{clear:both}
.nav-item .content.-nickname{display:none;opacity:0;width:202px;margin-left:-100px;border-radius:4px;-webkit-transition:all .2s cubic-bezier(.075,.82,.165,1);transition:all .2s cubic-bezier(.075,.82,.165,1)}
.nav-item .content.-nickname .tips-content{padding:11px 16px 13px}
.nav-item .content.-nickname .tips-content .link-click{margin-top:8px}
.nav-item .content.jwt-error-pop{width:232px;margin-left:-116px;-webkit-animation-duration:3s;animation-duration:3s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.nav-item .content.jwt-error-pop .block-content{color:#333;font-size:16px;line-height:24px;padding:20px 32px 20px 40px}
.nav-item .content.jwt-error-pop .block-content .tic-close{font-size:14px;position:absolute;right:12px;top:8px;cursor:pointer;color:#333}
.nav-item .content.jwt-error-pop .block-content .hint{color:#f7ad24;font-size:16px;position:absolute;left:16px;top:20px}
.nav-item .content.jwt-error-pop.animate{display:none;-webkit-animation-name:jwt-error-pop-hide;animation-name:jwt-error-pop-hide}
.nav-item .content.jwt-error-pop.show{display:block}
.nav-item .content.-show{opacity:1;pointer-events:auto;display:block;-webkit-transform:scale(1);transform:scale(1)}
.nav-item .content.-treasure{width:490px;margin-left:-244px;border-radius:4px}
.nav-item .content.-treasure .block-content{padding:25px 23px 25px 25px;min-height:490px;max-height:calc(100vh - 205px);overflow-y:scroll;scrollbar-width:none;-ms-overflow-style:none}
.nav-item .content.-treasure .block-content::after,.nav-item .content.-treasure .block-content::before{display:table;content:" "}
.nav-item .content.-treasure .block-content::after{clear:both}
.nav-item .content.-treasure .block-content::-webkit-scrollbar{display:none}
.nav-item:hover .link-nav{color:#0084ff;font-weight:700}
.nav-item:hover .link-white{color:#fff;font-weight:700}
.nav-item:hover .link-vip-noline{font-weight:700}
.nav-item.-home .nav-icon{color:rgba(255,255,255,.8)}
.nav-item.-home .content .triangle{-webkit-box-shadow:initial;box-shadow:initial}
.nav-item.-home .content .triangle:after{-webkit-box-shadow:initial;box-shadow:initial}
.nav-item.-vip .nav-icon{color:#ff7d18}
.nav-item[nav-type=user].-show-nickname-tip .block.content .block-content{display:none}
.nav-item[nav-type=user].-show-nickname-tip:hover .tic{-webkit-transform:none;transform:none}
.nav-item-list{position:relative;border-radius:3px;color:#333;padding:0;margin-top:-1px}
.nav-item-list .title{display:block;padding:10px 15px;border:1px solid #f3f3f3;border-bottom:none;border-top-right-radius:3px;border-top-left-radius:3px;background-color:#fff;cursor:pointer}
.nav-item-list .item:first-child,.nav-item-list .menu:first-child{border-top-right-radius:0;border-top-left-radius:0}
.nav-item-list .title{border-color:transparent}
.nav-item-list .list-group{position:absolute;top:100%;left:0;right:0;display:none;-webkit-transition:all .2s cubic-bezier(.075,.82,.165,1);transition:all .2s cubic-bezier(.075,.82,.165,1)}
.nav-item-list:hover{background-color:rgba(0,132,255,.08);border-bottom-right-radius:0;border-bottom-left-radius:0}
.nav-item-list:hover .title{background-color:rgba(0,132,255,.08);border-color:#f3f3f3}
.nav-item-list:hover .list-group{display:block}
.nav-item-list .title{padding:18px 9px 18px 12px;background:0 0}
.nav-item-list .list-group .item{padding:12px 0}
.nav-item-list.nav-line-right{padding-right:0}
.nav-item-list.nav-line-left{padding-left:0}
.nav-item-list:hover .title{color:#0084ff}
.nav-line-left,.nav-line-right{position:relative}
.nav-line-left:after,.nav-line-left:before,.nav-line-right:after,.nav-line-right:before{position:absolute;top:50%;width:1px;height:14px;margin-top:-7px;background-color:#f3f3f3}
.nav-line-left.-home:after,.nav-line-right.-home:after{background-color:rgba(255,255,255,.5)}
.nav-line-right{padding-right:13px}
.nav-line-right:after{content:'';right:0}
.nav-line-left{padding-left:13px}
.nav-line-left:before{left:0}
.nav-icon{margin-left:5px;display:inline-block;min-width:14px;color:#999}
.nav-box-group::after,.nav-box-group::before{display:table;content:" "}
.link-vip-noline{color:#ff7d18;cursor:pointer}
.link-vip-noline:active,.link-vip-noline:focus,.link-vip-noline:hover{color:#ff7d18}
.link-vip-noline.-nav:active,.link-vip-noline.-nav:focus,.link-vip-noline.-nav:hover{font-weight:700}
.link-vip-noline.-home:active,.link-vip-noline.-home:focus,.link-vip-noline.-home:hover{font-weight:700}
/* .link-nav:hover{-webkit-transform:rotate(180deg);transform:rotate(180deg)} */
.nav-box-group::after{clear:both}
.nav-box-group .nav-box-title{font-size:14px;color:#333;line-height:24px;font-weight:700;margin-bottom:3px}
.nav-box-group .nav-box-title .tic{margin-left:4px;color:#ff3b30;font-size:12px;font-weight:400}
.nav-box-group+.nav-box-group{margin-top:13px}
.nav-box{position:relative;float:left;width:86px;height:86px;border-radius:2px;margin:7px 2px 7px 0;text-align:center;color:#333;-webkit-transition:background 1s cubic-bezier(.075,.82,.165,1);transition:background 1s cubic-bezier(.075,.82,.165,1)}
.nav-box .nav-new-tag{position:absolute;right:0;top:-8px;font-size:12px;color:#ff3b30}
.nav-box img{width:86px}
.nav-box .box-title{position:absolute;bottom:4px;left:0;width:100%}
.nav-box:hover{background:rgba(0,132,255,.05)}
.logo-header {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    width: 123px;
    height: 38px;
    margin-top: 18px;
    font-size: 0;
    cursor: pointer;
}
.header-intro{margin-top:18px;position:absolute;left:135px;min-width:160px;height:38px;padding:2px 8px;border-radius:2px;text-align:center;font-size:12px;font-family:Arial,sans-serif;font-weight:400;line-height:17px;background-color:#c90b0a;color:#fff}
.header-intro .bottom{text-align:justify}
.header-intro .bottom:after{content:"";display:inline-block;width:100%}

.header-intro .top {
    text-indent: initial;
    letter-spacing: initial;
}
.header-intro .content{position:absolute;left:50%;margin-left:-284px;z-index:100;width:568px;-webkit-transform-origin:50% 0;transform-origin:50% 0;z-index:502;margin-top:4px;font-size:14px;line-height:22px;font-weight:400;text-align:left;color:#333;background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(96,96,96,.5);box-shadow:0 1px 4px 0 rgba(96,96,96,.5);border-radius:2px;opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:scale(0);transform:scale(0)}.header-intro .content:before{content:'';position:absolute;top:-4px;height:4px;width:100%}.header-intro .content .item{position:relative;display:block;padding:4px 8px;line-height:22px;margin:0 0 4px;text-align:left;color:#333;-webkit-transition:background 1s cubic-bezier(.075,.82,.165,1);transition:background 1s cubic-bezier(.075,.82,.165,1);cursor:pointer}
.header-intro .content .item a{color:inherit}
.header-intro .content .item:hover{color:#333;background:rgba(0,132,255,.08)}
.header-intro .content .item:first-child{margin-top:4px}
.header-intro .content .item:last-child{margin-top:4px}
.header-intro:hover .content{opacity:1;pointer-events:auto;display:block;-webkit-transform:scale(1);transform:scale(1)}
/* .header-intro:hover .tic-caret-down,.header-intro:hover .tic-xia{-webkit-transform:rotate(180deg);transform:rotate(180deg)} */
.header-intro .content{position:absolute;top:47px;left:148px;z-index:501;-webkit-transform:scale(1);transform:scale(1);display:none;height:472px}.header-intro .content .triangle{position:absolute;top:-16px;left:216px;display:block;width:30px;height:16px;margin-left:-15px;overflow:hidden;-webkit-box-shadow:0 16px 10px -17px #e0e0e0;box-shadow:0 16px 10px -17px #e0e0e0}.header-intro .content .triangle:after{display:block;content:" ";position:absolute;width:15px;height:15px;top:10px;left:5px;border:1px solid #e0e0e0;-webkit-transform:rotate(45deg);transform:rotate(45deg);background:#fff;-webkit-box-shadow:-1px -1px 10px -2px #e0e0e0;box-shadow:-1px -1px 10px -2px #e0e0e0}
.header-intro .content .inner{padding:4px}
.header-intro .content .credit{width:560px}
.tab-header{display:inline-block}
.tab-header .head{width:400px;height:18px;font-size:0;color:#666}
.tab-header .head .item{display:inline-block;width:55px;height:18px;line-height:18px;font-size:12px;text-align:center;cursor:pointer}
.tab-header .head .item:hover{color:#0084ff}
.tab-header .head .active{border-radius:2px 2px 0 0;color:#fff;background:#0084ff}
.tab-header .head .active:hover{color:#fff}

.tab-header .search{background:#0084ff;border-radius:0 2px 2px 2px;height:28px}
.tab-header .search-group{border-radius:2px}
.tab-header .search-group .input{width:368px;padding-right:25px;padding-left:8px;border-color:#0084ff;border-bottom-right-radius:2px;border-top-right-radius:2px}
.tab-header .search-group .input-group-btn{width:72px;padding-left:0;padding-right:0}
.tab-header .search-group.-commit .input{width:200px}
.tab-header .search-group.-commit .input-group-btn{width:70px}
.tab-header .tooltip-box{position:absolute;margin-top:14px;z-index:1;-webkit-box-shadow:0 2px 4px 0 rgba(0,0,0,.2);box-shadow:0 2px 4px 0 rgba(0,0,0,.2)}
.tab-header .tooltip-box:before{left:24px}
.tab-header.-search input{height:30px;line-height:30px}
.tab-header.-search .btn{padding:5px 0}
.tab-header.-search .search{height:30px}

.search-tab{padding-top:50px;padding-bottom:30px}
.search-tab .content{-webkit-box-shadow:0 0 2px rgba(0,0,0,.1);box-shadow:0 0 2px rgba(0,0,0,.1);background-color:#fff}
.search-tab .col-1,.search-tab .col-10,.search-tab .col-11,.search-tab .col-12,.search-tab .col-2,.search-tab .col-3,.search-tab .col-4,.search-tab .col-5,.search-tab .col-6,.search-tab .col-7,.search-tab .col-8,.search-tab .col-9{float:left}
.search-tab .col-1{width:8.33333333%}
.search-tab .col-2{width:16.66666667%}
.search-tab .col-3{width:25%}
.search-tab .col-4{width:33.33333333%}
.search-tab .col-5{width:41.66666667%}
.search-tab .col-6{width:50%}
.search-tab .col-7{width:58.33333333%}
.search-tab .col-8{width:66.66666667%}
.search-tab .col-9{width:75%}
.search-tab .col-10{width:83.33333333%}
.search-tab .col-11{width:91.66666667%}
.search-tab .col-12{width:100%}
.input-group .input-group-btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group .input, .input-group .input-group-btn, .input-group .select-drop, .input-group .select-drop .title, .input-group form {
    float: left;
}
.btn.-h28, .btn.-sm {
    padding: 4px 10px;
    font-size: 12px;
}

a {
    color: #0084ff;
    text-decoration: none;
    cursor: pointer;
}
.mt74 {
    margin-top: 74px!important;
}
.bread {
    padding: 20px 0 18px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: left;
    color: #333;
}
.bread .link-hover-click {
    color: #999;
}
.link-hover-click {
    color: #333;
    cursor: pointer;
}
.bread .bread-arrow {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: #999;
}
.bread .bread-arrow .fa{
    margin-left: 3px;
    margin-right: 3px;
}

.header-block-filter {
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.header-block-filter .dishonest-filter {
    position: relative;
    border-width: 0;
    margin-bottom: 10px;
}
.header-block-filter .dishonest-filter .filter-type {
    line-height: 40px;
    height: 40px;
    border-width: 0;
    border-bottom: 1px solid #f3f3f3;
    background-color: #fcfcfc;
    font-size: 16px;
    color: #666;
}
.header-block-filter .dishonest-filter .filter-type .type-title:first-child.active {
    border-left-color: transparent;
    border-right-color: #f3f3f3;
}

.header-block-filter .dishonest-filter .filter-type .type-title.active {
    background: #fff;
    color: #0084ff;
    border-left-color: #f3f3f3;
    border-right-color: #f3f3f3;
    font-weight: 700;
}
.header-block-filter .dishonest-filter .filter-type .type-title {
    float: left;
    padding: 0 32px;
    height: 40px;
    border: 1px solid transparent;
    border-top-width: 0;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #333;
}

.header-block-filter .dishonest-filter .filter-type .type-title {
    float: left;
    padding: 0 32px;
    height: 40px;
    border: 1px solid transparent;
    border-top-width: 0;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #333;
}
.header-block-filter .dishonest-filter .filter-body {
    padding: 8px 16px 8px 16px;
}
.header-block-filter .dishonest-filter .filter-body.filter-body-company {
    padding: 0;
}
.header-block-filter .dishonest-filter .filter-body .filter-scope.-expand {
    padding-bottom: 0;
}
.header-block-filter .dishonest-filter .filter-body .filter-scope {
	padding: 16px 60px 16px 96px;
	position: relative;
	line-height: 14px
}

.header-block-filter .dishonest-filter .filter-body .filter-scope.-expand
	{
	padding-bottom: 0
}



.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-title
	{
	position: absolute;
	top: 15px;
	left: 0;
	width: 72px;
	padding-right: 15px;
	border-right: 1px solid #f3f3f3;
	text-align: right;
	color: #666
}

.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-more
	{
	position: absolute;
	top: 16px;
	right: 0;
	cursor: pointer
}

.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-more:hover
	{
	color: #0084ff
}

.header-block-filter .dishonest-filter .filter-body .filter-scope.-expand .scope-box.scope-content{height:auto}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-title{position:absolute;top:15px;left:0;width:72px;padding-right:15px;border-right:1px solid #f3f3f3;text-align:right;color:#666}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-more{position:absolute;top:16px;right:0;cursor:pointer}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-more:hover{color:#0084ff}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .scope-box-sex,.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .scope-box-year{display:inline-block}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box.scope-content{height:14px;overflow:hidden}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box.scope-content .item{display:inline-block;vertical-align:top;margin-right:24px;color:#333;margin-bottom:16px;cursor:pointer}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box.scope-content .item:hover{color:#0084ff}
.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel{position:relative;/* display:inline-block; */vertical-align:top;margin-right:24px;color:#333}
.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel:hover .content{opacity:1;pointer-events:auto;display:block;-webkit-transform:scale(1);transform:scale(1)}
.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel:hover .tic-caret-down{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel:hover .filter-btn-title{color:#0084ff}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .filter-btn .filter-btn-title{max-width:90px;display:inline-block;cursor:pointer;font-size:14px;line-height:14px;-webkit-box-sizing:border-box;box-sizing:border-box;overflow:hidden;word-break:keep-all;white-space:nowrap;text-overflow:ellipsis;float:left}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .filter-btn .tic{display:inline-block;margin-left:3px;float:left;font-size:14px;color:#999}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .filter-btn .tic-caret-down{-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .content{position:absolute;left:50%;margin-left:-60px;width:120px;max-height:378px;-webkit-transform-origin:50% 0;transform-origin:50% 0;z-index:502;margin-top:19px;font-size:14px;line-height:22px;font-weight:400;text-align:left;color:#333;background:#fff;-webkit-box-shadow:0 1px 4px 0 rgba(96,96,96,.5);box-shadow:0 1px 4px 0 rgba(96,96,96,.5);border-radius:2px;opacity:0;-webkit-transition:all .3s ease-out;transition:all .3s ease-out;-webkit-transform:scale(0);transform:scale(0);overflow:auto}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .content .item{position:relative;display:block;padding:4px 8px;line-height:22px;margin:0 0 4px;text-align:left;color:#333;-webkit-transition:background 1s cubic-bezier(.075,.82,.165,1);transition:background 1s cubic-bezier(.075,.82,.165,1);cursor:pointer}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .content .item:first-child{margin-top:4px}.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .content .item:hover{color:#333;background:rgba(0,132,255,.08)}



.header-block-filter .dishonest-filter .filter-body {
    padding: 8px 16px 8px 16px;
}

.header-block-filter .dishonest-filter .filter-body .filter-scope {
    padding: 16px 60px 16px 96px;
    position: relative;
    line-height: 14px;
}
.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 72px;
    padding-right: 15px;
    border-right: 1px solid #f3f3f3;
    text-align: right;
    color: #666;
}

.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-title {
    position: absolute;
    top: 15px;
    left: 0;
    width: 72px;
    padding-right: 15px;
    border-right: 1px solid #f3f3f3;
    text-align: right;
    color: #666;
}


.header-block-container {
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.lazy-img {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.tag-status-warn {
    color: #ff3b30;
    background-color: #fff;
    border-color: #ff3b30;
    font-size: 12px;
    padding: 0 8px;
    line-height: 1.5714285714;
}
.tag {
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-radius: 2px;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}


.auto-folder {
    position: relative;
    overflow: hidden;
}
.auto-folder .folder-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70px;
    text-align: right;
    background-image: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(26.4%,#fff));
    background-image: linear-gradient(90deg,rgba(255,255,255,0) 0,#fff 26.4%);
}
.link-click {
    color: #0084ff;
    cursor: pointer;
}
.text-ellipsis {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.lazy-img.-alias .logo-text {
    display: block;
}
.logo-text.-bg1, .logo-text.-bg2, .logo-text.-bg3, .logo-text.-bg4, .logo-text.-bg5, .logo-text.-bg6 {
    color: #fff;
}
.logo-text.-bg3 {
    background: #84cab0;
}
.logo-text.-w64 {
    line-height: 64px;
    white-space: normal;
    font-size: 28px;
}
.logo-text.-w64 {
    width: 64px;
    height: 64px;
    border-radius: 4px;
}

.logo-text {
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    text-align: center;
    overflow: hidden;
    background: -webkit-gradient(linear,left top,left bottom,from(#dfdadc),to(#f5f5f5));
    background: linear-gradient(#dfdadc,#f5f5f5);
    color: #666;
    line-height: 100px;
    white-space: normal;
    font-size: 44px;
}
.lazy-img .img {
    display: none;
}
.logo .img {
    width: 100%;
}
img {
    border-style: none;
}
.logo-text.-bg3 {
    background: #84cab0;
}


.pagination {
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    margin: 20px 0 0 0;
    font-size: 0;
}
.pagination li {
    list-style: none;
    display: inline;
}
.pagination .num:first-child {
    margin-left: 0;
}
.pagination .num.-current {
    border: 0;
    color: #333;
    background-color: transparent;
    cursor: default;
}
.pagination .num {
    display: inline-block;
    min-width: 30px;
    padding: 5px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    color: #0084ff;
    border: 1px solid rgba(0,132,255,.2);
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all .2s cubic-bezier(.075,.82,.165,1);
    transition: all .2s cubic-bezier(.075,.82,.165,1);
}
.customize {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}
.customize span {
    margin-right: 8px;
    font-size: 12px;
    color: #666;
    vertical-align: middle;
}
.customize .input.-h30 {
    font-size: 12px;
}

.input.-h30, .input.-sm-big {
    height: 30px;
    line-height: 28px;
    padding: 0 15px;
    font-size: 14px;
}
.customize input {
    width: 58px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    color: #666;
}
.input {
    height: 36px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    background-color: #fff;
    color: #333;
}
.customize .search-btn {
    width: 60px;
    vertical-align: middle;
}
.btn.-h30, .btn.-sm-big {
    padding: 5px 10px;
    font-size: 12px;
}

.btn-primary-bd {
    color: #0084ff;
    background-color: #fff;
    border-color: #0084ff;
}

.customize input {
    width: 58px;
    margin-right: 8px;
    text-align: center;
    vertical-align: middle;
    color: #666;
}
.btn-primary-bd {
    color: #0084ff;
    background-color: #fff;
    border-color: #0084ff;
}
.hidden {
    display: none!important;
}


.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel:hover .fa-caret-down{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.header-block-filter .dishonest-filter .filter-body .filter-scope .scope-box .filter-sel .filter-btn .fa-caret-down{-webkit-transition-duration:.5s;transition-duration:.5s;-webkit-transform-origin:50% 50%;transform-origin:50% 50%}


.data-logo {
    float: right;
    display: inline-block;
    width: 90px;
    height: 20px;
}

.right-block {
    border: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    margin-bottom: 16px;
}
.right-block .image-click {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.right-block.right-recommend-brand .image-click {
    position: relative;
}

.right-block .image-click {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.right-block .image-click img {
    width: 100%;
}

img.lazy-img.-image {
    opacity: 1;
    height: auto;
}
img.lazy-img {
    opacity: 0;
    height: 0;
}
.lazy-img {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}
.tips-num {
    color: #ff3b30;
}

.dishonest-result .result-item .result-header.result-com-header {
    height: 64px;
}
.logo-text.-bg5 {
    background: #bc9edd;
}
.header-block-filter .dishonest-filter .filter-type .type-title:hover {
    color: #0084ff;
}
.logo-text.-bg1{background:#7db3d9}
.logo-text.-bg1,.logo-text.-bg2,.logo-text.-bg3,.logo-text.-bg4,.logo-text.-bg5,.logo-text.-bg6{color:#fff}
.logo-text.-bg2{background:#d1ae9d}.logo-text.-bg3{background:#84cab0}.logo-text.-bg4{background:#8ca3cd}
.logo-text.-bg5{background:#bc9edd}.logo-text.-bg6{background:#76b3ec}
.mt74{margin-top:74px!important}